@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: #47a3f3;
  color: #fefefe;
}

html {
  min-width: 320px;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type="text"],
input[type="email"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

/* Custom styles */
@layer components {
  .container {
    @apply mx-auto max-w-xl px-5;
  }

  /* Custom utilities */
  .h-dvh {
    height: 100vh;
    height: 100dvh;
  }

  .min-h-dvh {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .max-h-dvh {
    max-height: 100vh;
    max-height: 100dvh;
  }
}